.about-page {
  min-height: 300px;
  background-color: #ff000014;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px 0;

  h3 {
    text-align: center;
    font-family: Merienda-Bold;
  }
  .container {
    padding: 40px 0;
    text-align: center;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      color: #504a4a;
      &:hover {
        color: inherit;
        text-decoration: underline;
      }
    }
    img {
      border-radius: 3%;
      width: 250px;
      margin-right: 50px;
    }
    .icon-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 8px;
      & > * {
        width: 20px;
        margin-right: 20px;
        font-size: 25px;
      }
    }
    p {
      line-height: 1.9;
      font-family: Raleway;
    }
    .resume {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      font-family: Merienda-Regular;

      a {
        color: inherit;
        gap: 10px;
        margin-top: 20px;
        cursor: pointer;
        font-size: 25px;
        line-height: 1;
        text-decoration: underline;
        filter: drop-shadow(2px 4px 6px black);
        img {
          width: 55px;
          margin: 0;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: $break-narrow) {
  .about-page {
    .container {
      width: 80%;
      flex-direction: column;
      align-content: center;
      align-items: center;
      img {
        margin: 0 0 0 15px;
      }
    }
  }
}
