.home {
  background-image: url('../img/bcg.jpg');

  position: relative;
  z-index: 1;
  .mouse-over {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #7216c499 0%, #886de69c 100%);
    filter: blur(10px);
    border-radius: 50%;
    z-index: -1;
  }
  .about {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: $break-narrow) {
  .mouse-over {
    display: none;
  }
  .home {
    background-image: url('../img/bcgPhoneImg.jpg');
    // background-size: contain;
  }
}

.dark-mode {
  background-image: none;
  background-color: #151413ed;
}
