.proj-page {
  min-height: 90vh;
  display: flex;
  align-items: center;
  align-content: center;
  ul {
    box-shadow: 0px 0px 20px 16px rgb(0 0 0 / 53%);
    padding: 20px;
    background-color: #f5deb387;
    border-radius: 20px;
    margin-top: 100px;
    min-width: 100%;
    .btn-filter {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      align-content: center;
      font-size: 20px;
      font-family: Merienda-Regular;
      & > * {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 10px;
      }
      i,
      img {
        margin-top: 4px;
        width: 20px;
      }

      a {
        img {
          display: none;
        }
        &.active {
          i {
            display: none;
          }
          img {
            display: inline-block;
          }
        }
      }
    }
    .no-proj {
      min-height: 380px;
    }
  }
  li {
    position: relative;

    .btn {
      position: absolute;
      top: 43%;
      font-size: 30px;
      background-color: #4a484454;
      padding: 12px;
      cursor: pointer;
      border-radius: 10px;
      &:hover {
        background-color: #4a4844a6;
        color: #f5f5f575;
      }
    }
    .fa-chevron-right {
      right: -34px;
    }
    .fa-chevron-left {
      left: -34px;
    }
  }
}

@media screen and (max-width: $break-narrow) {
  .proj-page {
    grid-column: 1 / -1;
    min-height: 90vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    ul {
      min-width: 0;
      max-width: 90%;
      .btn-filter {
        font-size: 25px;

        .none {
          display: none;
        }
      }
    }
    li {
      width: 100%;
    }
  }
}
