.app-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  width: 100%;
  padding: 0 40px;
  background-color: #b1a28e38;
  box-shadow: none;
  transition: all 0.3s ease 0s;

  &.scroll {
    background-color: #ddcece;
    z-index: 2;
  }
  .logo {
    img {
      width: 30px;
    }
  }
  .icon {
    width: 30px;
    display: none;
  }
  .links {
    & > * {
      padding-left: 25px;
      font-family: Merienda-Regular;
    }
  }
  .mode {
    font-size: 30px;
    cursor: pointer;
  }
}

@media screen and (max-width: $break-narrow) {
  .app-header {
    padding: 0 15px 0 0;
    height: 8%;
    .logo {
      display: none;
    }
    .mode {
      position: fixed;
      top: 75px;
      right: 5px;
    }
  }
}

.dark-mode-header {
  background-color: #673ab72b;
  &.scroll {
    background-color: #4a3869;
  }
  .icon {
    color: whitesmoke;
  }
  .links {
    & > * {
      color: whitesmoke;
    }
  }
}
