.proj-preview {
  position: relative;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 4px 6px 5px #8888889e;
  padding: 0 10px;
  min-height: 400px;
  gap: 10px;
  border-radius: 7px;
  animation: in 0.5s ease-in-out forwards;

  transform-style: preserve-3d;
  article {
    margin-bottom: 20px;
    h2 {
      font-family: CourgetteRegular;
    }
    p {
      margin: 5px 0;
      font-family: Raleway;
      line-height: 1.4;
    }
    .btn-container {
      display: flex;
      flex-wrap: wrap;

      .view-btn {
        margin-bottom: 7px;
        background-color: #a1eacd;
        position: relative;
        display: inline-block;
        padding: 0.9rem 1.1rem;
        border: none;
        border-radius: 7px;
        margin-right: 5px;
        -webkit-transition: all 300ms ease-out;
        letter-spacing: 0.01rem;
        font-size: 1.1rem;
        font-weight: 700;
        transition: all 300ms;

        a {
          font-style: italic;
          text-transform: capitalize;
          font-family: 'Crimson Text', serif;
          line-height: 0.9;
        }
        .hidden {
          margin-left: 15px;
          display: none;
        }
        &:hover {
          background-color: #f48480;
          padding: 0.9rem 1.2rem;
          color: #fff;
          .hidden {
            display: inline;
          }
        }
      }
    }
  }
  img {
    width: 40%;
    height: 200%;
    border-radius: 5px;
  }
}

@media screen and (max-width: $break-narrow) {
  .proj-preview {
    min-height: 95vh;

    flex-direction: column-reverse;
    img {
      width: 100%;
      margin-bottom: 20px;
    }
    article {
      margin-bottom: 0;
      h2 {
        line-height: 1;
      }
      .btn-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        .view-btn {
          padding: 0.9rem 0.5rem;
          &:hover {
            padding: 0.9rem 0.5rem !important;
            background-color: #a1eacd !important;
            color: black !important;
            margin-bottom: 7px;
            position: relative;
            display: inline-block;
            border: none;
            margin-right: 5px;
            .hidden {
              display: none !important;
            }
          }
        }
      }
    }
  }
}

@keyframes in {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}
