* {
  box-sizing: border-box;
}

html {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  color: #000000de;
  line-height: 1.8;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: iconSolid;
  min-height: 100vh;
  font-size: 1rem;
  font-weight: 400px;
  line-height: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0.8rem 0.3rem;
  font-family: NotoSerifBoldItalic;
}

h1 {
  font-size: 50px;
}

img {
  // width: 100%;
}

p {
  margin: 0 0 1rem;
  max-width: 60ch;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    // text-decoration: underline;
  }
}

button {
  border-radius: 3em;
  font-family: inherit;
  cursor: pointer;
  * {
    pointer-events: none;
  }
}

button:hover {
  background-color: lightgrey;
}

input {
  font-family: inherit;
  text-align: inherit;
}

// MAC like scrollbar
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 100px;
}
